body {
    margin: 1rem 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

* {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#root {
    color: #ffb81c;
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 'nav' 'header' 'main';
}

header {
    font-weight: bold;
    font-size: 2em;
    font-variant-caps: all-petite-caps;
    grid-area: header;
}

main {
    align-self: normal;
    grid-area: main;
}

.red {
    color: #b34;
}

.blue {
    color: #024;
}

.green {
    color: #085;
}

@media (min-width: 600px) {
    #root {
        display: grid;
        height: 10vh;
        grid-template-rows: 20vh 1fr;
        grid-template-columns: 20vw 1fr;
        grid-template-areas: 'nav header' 'nav main';
    }

    nav ul {
        display: block;
        text-align: justify;
        width: 100%;
    }
}

.background {
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

form {
    text-align: left;
}