.form {
    color: black;
    margin-bottom: 1rem;
    background-color: #fff8;
}

.form fieldset {
    border: none;
    padding-right: 0;
}

fieldset input:not([type=checkbox]):not(.paypal-button), fieldset select {
    height: 24px;
}

.form p, .form h2, .form .submit {
    margin-left: 1rem;
}

.header > h2 {
    float: left;
    margin-right: 1rem;
}

div .half {
    float: left;
    width: calc(50% - 10px);
    margin-right: 10px;
}

div .full {
    width: calc(100% - 10px);
    margin-right: 10px;
}

div .quarter {
    width: 25%;
    margin-right: 10px;
}

.header {
    border: 0;
    margin-bottom: 1rem;
    background-color: #fff8;
    text-align: left;
}

.form > input {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form textarea, div .textarea {
    height: 100px;
    resize: none;
}

.form div > input {
    width: 100%;
}

.paypal-button {
    float: right;
}

div .half > *, div .full > * {
    width: 100%;
}
