nav {
    align-self: normal;
    font-size: 3vw;
    font-weight: bold;
    grid-area: nav;
}

nav li #sponsor:hover, #register:hover {
    color: #bd3039;
}

nav li #contact:hover, #merch:hover {
    color: #008853;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav a {
    color: #f4ae1a;
    font-size: 1em;
    text-decoration: none;
}

nav img {
    max-width: 100%;
    min-height: 20vh;
    object-fit: scale-down;
}
