body {
    margin: 1rem 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #FFB81C;
}

body * {
    margin: 0;
}

article > p {
    text-align: justify;
}

#root {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "logo" "nav" "header" "main";
}

header {
    font-weight: bold;
    font-size: 2rem;
    grid-area: header;
}

.logo {
    grid-area: logo;
}

img {
    max-width: 100%;
}

nav {
    align-self: normal;
    font-weight: bold;
    grid-area: nav;
}

nav li #sponsor:hover {
    color: #bd3039;
}

nav li #contact:hover {
    color: #008853;
}

nav li #merch:hover {
    color: #0c2340;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav a {
    color: #f4ae1a;
    font-size: 20px;
    text-decoration: none;
}

main {
    align-self: normal;
    grid-area: main;
}

form {
    background-color: #ffffff84;
    color: black;
    float: left;
    text-align: left;
    width: 100%;
}

fieldset > .paypal-button {
    float: right;
}

fieldset > h2 {
    float: left;
}

legend {
    font-weight: bold;
    display: inline;
}

.red {
    color: #b34;
}

.blue {
    color: #024;
}

.green {
    color: #085;
}

@media (min-width: 600px) {
    #root {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-areas: "logo header header" "nav main main" "nav main main";
    }

    nav ul {
        display: block;
        text-align: justify;
        width: 100%;
    }
}

.background {
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
