.paypal-button {
    float: right;
}

summary > span {
    display: inline-block;
    font-weight: bold;
}

.sponsor-form {
    background-color: transparent;
}

.sponsor-form fieldset {
    border: 0;
    margin-bottom: 1rem;
    background-color: #fff8;
    text-align: left;
}